*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-size:55px;
    text-align: center;
    border-color: black;
    border-width: 10px;
}
article{
    float: left;
    margin-left: 2rem;
    margin-top: 2rem;

    
}
h3{
    font-family: 'Monoton', cursive;
    padding: 3;
    font-size: 35px;
    font-style: italic;
     ;

}
#tags{
    list-style-type: none;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:salmon;
    color: white ;
}
h1{
    font-family: 'Monoton', cursive;
}
ul{
    list-style: square;
    margin-left: 2rem;
    border-color: black;
    border-style: groove;
    border-width: 1px;
}
table{
    
    border: 1px solid black ;
}
td{
    padding: 5px;
    border: 1px solid black ;
    text-align: center;
    
}
th{
    font-weight: bold;
    padding-left: 1px;
    padding-right: 1px;
}
thead {
    font-weight: bold;
}


